<div class="col-12 col-lg-3">
    <div
      class="
        d-none d-xxl-block
        h-100
        fixed-top
        end-0
        overflow-hidden
        scrollbar
      "
      style="
        max-width: 360px;
        width: 100%;
        z-index: 4;
        padding-top: 56px;
        left: initial !important;">
      <div class="p-3">
        <!-- contacts -->
        <div
          class="my-3 d-flex justify-content-between align-items-center"
        >
          <p class="text-muted fs-5 m-0">Contacts</p>
          <!-- icons -->
        </div>
        <!-- friend 1 -->
        {%for friend in friends.friends.all%}
        <li
          class="dropdown-item rounded my-2 px-0"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#singleChat1">
          <!-- avatar -->
          <a
            class="d-flex align-items-center mx-2 chat-avatar text-decoration-none text-black"
            href="{%url 'user_profile' username=friend.username%}"
            data-bs-custom-class="chat-box"
            data-bs-container="body"
            data-bs-toggle="popover"
            data-bs-placement="left"
            data-bs-trigger="hover"
            data-bs-content='
              <div>
                <div class="popover-body d-flex p-2">
                  <div>
                    <img src="{{ friend.profile.profile_img.url }}" alt="avatar" class="pop-avatar"  />
                  </div>
                  <div >
                    <h5>">{{friend.first_name}} {{friend.last_name}}</h5>
                    <div class="d-flex">
                      <i class="fas fa-user-friends m-1 text-muted"></i>
                      <p>2 mutual friends: <span class="fw-bold">Jerry</span> and <span class="fw-bold">Phu</span></p>
                    </div>
                    <div class="d-flex">
                    <i class="fas fa-graduation-cap m-1 text-muted"></i>
                    <p>Studies at MIT</p>
                    </div>
                  </div>
                </div>
              </div>
            '
            data-bs-html="true"
          >
            <div class="position-relative">
              <img
                src="{{ friend.profile.profile_img.url }}"
                alt="avatar"
                class="rounded-circle me-2"
                style="width: 38px; height: 38px; object-fit: cover"
              />
              <span
                class="
                  position-absolute
                  bottom-0
                  translate-middle
                  border border-light
                  rounded-circle
                  bg-success
                  p-1
                "
                style="left: 75%"
              >
                <span class="visually-hidden"></span>
              </span>
            </div>
            <p class="m-0">{{friend.first_name}} {{friend.last_name}}</p>
          </a>
        </li>
        {%endfor%}
      </div>
    </div>
  </div>

  