{% extends 'home.html' %}
{% block pages %}
  <div class="col-12 col-lg-6 pb-5 mt-5">
          <div class="card mt-4">
            <div class="rounded-top text-white d-flex flex-row"
                 style="background-color: #000;
                        height:200px">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="{{ profile_data.profile_img.url }}"
                     alt="Generic placeholder image"
                     class="img-fluid img-thumbnail mt-4 mb-2"
                     style="width: 150px;
                            z-index: 1">
                <button type="button"
                        class="btn btn-outline-dark"
                        data-mdb-ripple-color="dark"
                        style="z-index: 1">Edit profile</button>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{ profile_data.user.first_name }} {{ profile_data.user.last_name }}</h5>
                <p>{{ profile_data.address }}</p>
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-1">
              {% if profile_data.user != request.user %}
                {% if profile_data.user in friends.friends.all%}
                  <a class="btn btn-outline-primary me-2" href="{% url 'unfriend' profile_data.user %}">
                    Unfriend
                  </a>

                {% elif friend_request_received%}
                  {%for friend_request in friend_request_received %}
                    <a class="btn btn-outline-primary me-2"
                      href="{% url 'accept_friend_request' friend_request.id %}">
                        Accept Request
                    </a>
                    <a class="btn btn-outline-danger me-2"
                          href="{% url 'decline_friend_request' friend_request.id %}">
                            Decline Request
                        </a>
                  {%endfor%}

                {% elif friend_request_sent%}
                    {%for friend_request in friend_request_sent %}
                      <a class="btn btn-outline-danger me-2"
                        href="{% url 'cancel_friend_request' friend_request.id %}">
                          Cancel Request
                      </a>
                    {%endfor%}
                {%else%}
                  <a class="btn btn-outline-primary me-2"
                    href="{% url 'send_friend_request' profile_data.user %}">
                      Send Request
                  </a>
                {%endif%}
              {% endif %}
              </div>
            </div>
            <div class="d-flex justify-content-end text-center py-1">
              <div>
                <p class="mb-1 h5">253</p>
                <p class="small text-muted mb-0">Photos</p>
              </div>
              <div class="px-3">
                <p class="mb-1 h5">{{friends.friends.all.count}}</p>
                <p class="small text-muted mb-0">Friends</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">Web Developer</p>
                <p class="font-italic mb-1">Lives in New York</p>
                <p class="font-italic mb-0">Photographer</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Posts</p>
            </div>
            {% for post in posts reversed %}
              {% include 'partials/posts.html'%}
            {%endfor%}
          </div>
  </div>
</section>
{% endblock %}
