{% extends 'home.html'%}
{% block pages%}
<!-- char-area -->
<div class="col-12 col-lg-6">
  <div
    class="d-flex flex-column justify-content-center w-100 pt-4"
  >
<section class="message-area">
        <div class="chat-area">
          <!-- chatbox -->
          <div class="chatbox">
            <div class="modal-dialog-scrollable">
              <div class="modal-content">
                <div class="msg-head">
                  <div class="row">
                    <div class="col-8">
                      <a class="d-flex align-items-center text-decoration-none" href="{% url 'user_profile' username=receiver.username%}">
                        <div class="flex-shrink-0">
                          <img class="img-fluid" src="{{receiver.profile.profile_img.url}}"
                            alt="user img" style="height: 45px; width: 45px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3>{{receiver.first_name}} {{receiver.last_name}}</h3>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>


                <div class="modal-body">
                  <div class="msg-body">
                    <ul id="message-container">
                      {% for message in messages %}
                        {% if message.sender == request.user%}
                          <li class="reply">
                            <p>{{message.content}}</p>
                            <span class="time">{{message.timestamp}}</span>
                          </li>
                        {%else%}
                          <li class="sender">
                            <p> {{message.content}} </p>
                            <span class="time">{{message.timestamp}}</span>
                          </li>
                        {% endif%}
                      {% endfor %}
                    </ul>
                  </div>
                </div>


                <div class="send-box">
                  <form id="message-form">
                    {% csrf_token %}
                    <input type="text" id="content" class="form-control" aria-label="message…" placeholder="Write message…">
                    <input type="hidden" id="receiver_id" value="{{ receiver.id }}">

                    <button class="btn btn-primary" type="submit">Send</button>
                  </form>
                  

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- chatbox -->
</section>
</div>
</div>

<!-- char-area -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
      $('#message-form').on('submit', function(event) {
          event.preventDefault();
          const content = $('#content').val();
          const receiver_id = $('#receiver_id').val();

          $.ajax({
              url: "{% url 'chat:send_message'%}",
              type: 'POST',
              data: {
                  content: content,
                  receiver_id: receiver_id,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function(response) {
                  if (response.success) {
                      $('#content').val('');
                      $('#message-container').append(`
                          <li class="reply">
                            <p>${content}</p>
                            <span class="time">Just Now</span>
                          </li>
                      `);
                  } else {
                      alert('Message sending failed.');
                  }
              }
          });
      });
  });
</script>
{% endblock%}