{%extends 'base.html'%}
{%block content%}
    <!-- ================= Appbar ================= -->
    {% include 'partials/appbar.html'%}

    <!-- ================= Main ================= -->
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <!-- ================= Sidebar ================= -->
            {% include 'partials/navbar.html'%}
            <!-- ================= Timeline ================= -->
            {%block pages%}
        
            {%endblock pages%}
        
        <!-- ================= Chatbar ================= -->
        {% include 'partials/all-friends.html'%}
      </div>
    </div>
{%endblock%}